@import 'stylesheets/Colors';
@import 'stylesheets/App';

#letter {
  background-color: #E0D2AB;
  padding: 30px
}

#headmaster {
  font-weight: bold;
}

h1, h4 {
  text-align: center;
}

p {
  text-align: left;
  font-size: 1.5rem
}
